package view_layout

import "github.com/harrisbisset/hyperbay/hyperlist/server/service/toml"

templ Meta(handler toml.ListHandler) {
	<!DOCTYPE html>
	<html>
		<head>
			<title></title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
